# Node modules
/Frontend/node_modules/
/Backend/node_modules/

# Env files
*.env

# Logs
*.log
logs/

# Build output
/Frontend/build/
/Backend/dist/
/Backend/build/

# IDE / OS
.DS_Store
.vscode/
.idea/
